:root {
  // Base colors:
  --color-app-background: #292524;
  --color-app-fact-background: #44403c;
  --color-vote-button-background: #78716c;
  --color-vote-hover: #292524;

  //   Text colors:
  --color-primary-text: #fafaf9;
  --color-link: #a8a29e;
  --color-link-hover-active: #3b82f6;

  // Button and tag colors:
  --color-technology: #3b82f6;
  --color-science: #16a34a;
  --color-finance: #ef4444;
  --color-society: #eab308;
  --color-entertainment: #db2777;
  --color-health: #14b8a6;
  --color-history: #f97316;
  --color-news: #8b5cf6;

  //   Font
  --font-primary: "Sono", sans-serif;
  --font-secondary: "Coiny", sans-serif;
}

// SASS Media Query Variables
$bp-medium: 75em;
$bp-medium2: 62.5em;
$bp-small: 56.25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-app-background);
  color: var(--color-primary-text);
  font-family: var(--font-primary);
  padding: 4.8rem 6.4rem;
  font-weight: 400;

  @media only screen and (max-width: $bp-medium2) {
    padding: 3.2rem 4.8rem;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}
